body {
    margin: 0;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    color: #2c363f;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    font-size: 2.5em;
}

section {
    margin: 0px auto;
    border-radius: 3px;
}

.auto-scale {
    height: 100%;
}

.content {
    margin: 0px auto;
    max-width: 55em;
    padding: 2em 5em;
}

.header-profile {
    height: 2.5em;
}

.card{
    padding: .25em 1.25em;
    background-color: #fbf9ff;
    box-shadow: .25em .25em #b3b7ee;
}

.card:not(:last-child){
    margin-bottom:2em;
}

.author {
    font-size: .8em;
    font-weight: normal;
}
h1, h3 {
    font-weight: normal;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
    color: #b3b7ee;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eceff4;
    margin: 0 0;
    padding: 0;
}

code {
    background-color: #9395d3;
    padding: .2em;
    color: #fbf9ff;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
}

.skill-box code{
    margin: .2em;
}

header i{
    color: #9395d3;
}

::selection {
  background: #d6f9dd;
}
