body {
    margin: 0;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background-color: #2e3440;
    color: #eceff4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    font-size: 2.5em;
    margin-top: .5em;
}

section {
    margin: 0px auto;
    border-radius: 3px;
}

.auto-scale {
    height: 100%;
}

.constrain {
    margin: 0px auto;
    max-width: 55em;
    padding: 0 5em;
}

.header-profile {
    height: 2.5em;
}

.card{
    border-left-style: dashed;
    border-color: #88c0d0;
    border-width: .15em;
    padding: .25em 1.25em;
}

.card:not(:last-child){
    margin-bottom:2em;
}

.author {
    color: #e5e9f0;
    font-size: .8em;
    font-weight: normal;
}
h1, h3 {
    font-weight: normal;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #eceff4;
    margin: 0 0;
    padding: 0;
}

code {
    background-color: #3b4252;
    padding: .2em;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
}

.skill-box code{
    margin: .2em;
}
